#mkp_router/docker-compose.yml

services:
  # ======================
  # Banco de Dados
  # ======================
  mkp_router_db:
    image: postgis/postgis:17-3.4
    container_name: mkp_router_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mkp_router_db
    ports:
      - "5435:5432"
    volumes:
      - mkp_pg_data:/var/lib/postgresql/data
    networks:
      - mkp_net
    restart: always

  # ======================
  # Redis
  # ======================
  redis:
    image: redis:7-alpine
    container_name: mkp_redis
    networks:
      - mkp_net
    restart: always

  # ======================
  # Authentication
  # ======================
  authentication_service:
    build:
      context: .
      dockerfile: ./src/authentication/Dockerfile.authentication
    container_name: mkp_authentication
    env_file:
      - .env
    environment:
      PYTHONPATH: /app
    depends_on:
      - mkp_router_db
    ports:
      - "8101:8000"
    volumes:
      - ./src/authentication:/app/authentication
      - ./src/database:/app/database
      - ./data:/app/data
      - ./output:/app/output
    networks:
      - mkp_net
    restart: always

  # ======================
  # MKP Preprocessing API
  # ======================
  mkp_preprocessing:
    build:
      context: .
      dockerfile: ./src/mkp_preprocessing/Dockerfile.mkp_preprocessing
    container_name: mkp_preprocessing
    env_file:
      - .env
    environment:
      PYTHONPATH: /app/src
      AUTH_SERVICE_URL: http://authentication_service:8000
    depends_on:
      - mkp_router_db
      - redis
      - authentication_service
    ports:
      - "8010:8000"
    volumes:
      - ./src/mkp_preprocessing:/app/src/mkp_preprocessing
      - ./src/database:/app/src/database
      - ./data:/app/data
      - ./output:/app/output
    networks:
      - mkp_net
    restart: always

  # ======================
  # MKP Preprocessing Worker (RQ)
  # ======================
  mkp_preprocessing_worker:
    build:
      context: .
      dockerfile: ./src/mkp_preprocessing/Dockerfile.mkp_preprocessing
    container_name: mkp_preprocessing_worker
    env_file:
      - .env
    environment:
      PYTHONPATH: /app/src
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - redis
      - mkp_router_db
      - mkp_preprocessing
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - ./output:/app/output
    command: >
      rq worker -u redis://redis:6379/0 mkp_preprocessing
    networks:
      - mkp_net
    restart: always

   
  mkp_clusterization:
    build:
      context: .
      dockerfile: ./src/mkp_clusterization/Dockerfile.clusterization
    container_name: mkp_clusterization
    env_file:
      - .env
    environment:
      PYTHONPATH: /app/src
      AUTH_SERVICE_URL: http://mkp_authentication:8000
    depends_on:
      - mkp_router_db
      - redis
      - authentication_service
    ports:
      - "8004:8004"
    volumes:
      - ./src:/app/src
      - ./data:/app/data
      - ./output:/app/output
    networks:
      - mkp_net
    restart: always


volumes:
  mkp_pg_data:

networks:
  mkp_net:
    driver: bridge
